{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('Espoir/css/style.css') }}">
    <script type="text/javascript" src="{{ asset('Espoir/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Espoir/js/script.js') }}"></script>
    <script type="text/javascript" src=""></script>
    <style type="text/css">
        .div {
            /* Pour le centrer dans la page */
            margin: 0 auto;
            width: 800px;
            /* Pour voir les limites du formulaire */
            padding: 1em;
            border: 1px solid #CCC;
            border-radius: 1em;


            -moz-box-shadow: 30px 25px 29px 0px rgba(0,0,0,0.75);
            box-shadow: 30px 25px 29px 0px rgba(0,0,0,0.75);
        }
        .deuxvaleurs {
            border-spacing: 5px 10px;
        }
        .label {
            /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
            display: inline-block;
            width: 100px;
            text-align: right;
        }

    </style>
    <center>

        <h1>Rechercher Un Evenement </h1>
        {{ form(form) }}
        <h2>Ajouter Une Réclamation </h2>
        {% for espoir in modele %}
            <div class="div">
                <table border="1" style="background-color: transparent" class="deuxvaleurs">
                    <tr><td class="label">Nom :</td>
                        <td style="background-color: mintcream">{{ espoir.nom }}</td>
                    </tr>
                    <tr><td class="label">Description :</td>
                        <td style="background-color: mintcream">{{ espoir.description }}</td>
                    </tr>
                    <tr><td class="label">Le Theme :</td>
                        <td style="background-color: mintcream">{{ espoir.theme }}</td>
                    </tr>
                    <tr><td class="label">Lieu :</td>
                        <td style="background-color: mintcream">{{ espoir.lieu }}</td>
                    </tr>
                    <tr><td class="label">Date de début :</td>
                        <td style="background-color: lightsalmon">{{ espoir.dateDebut }}</td>
                    </tr>
                    <tr><td class="label">Date de début :</td>
                        <td style="background-color: lightsalmon">{{ espoir.dateFin }}</td>
                    </tr>

                    <tr><td class="label">Crée le :</td>
                        <td style="background-color: mintcream">{{ espoir.date|date }}</td>
                    </tr>
                </table>
                <p><a href="{{ path('supprimer_Reclamation',{'id':espoir.id}) }}">Supprimer</a></p>  <a href="{{ path('modifier_Reclamation',{'id':espoir.id}) }}">Modifier</a>

            </div><br><br>

        {% endfor %}
    </center>
{% endblock %}